#Home{
    background-image: url("../images/the-best-pizza-in-town.jpg");
    color:white;
    padding-top: 100px;
}
#varieties{
    background-image: url("../images/the-best-pizza-in-town.jpg");
    color: white;
    padding-top: 150px;
    
}