#Home{
    background-image: url("../images/the-best-pizza-in-town.jpg");
    color:white;
    padding-top: 100px;
}
#varieties{
    background-image: url("../images/the-best-pizza-in-town.jpg");
    color: white;
    padding-top: 200px;
    
}
#contact-us{
    text-align:center;
    background-color:olivedrab
}
#order{
    background-image: url(../images/pizza-roma-cafe-corner.jpg2);
}
.bar{
    position: fixed;
    text-align: center;
    background-color: olivedrab;
}